
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

@await Component.InvokeAsync("HomePageHeadViewComponent")
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    @await Component.InvokeAsync("HomePageMenuViewComponent")
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    @await Component.InvokeAsync("HomePageHeaderSectionViewComponent")
    <!-- Header Section End -->
   @RenderBody()
    <!-- Footer Section Begin -->
    @await Component.InvokeAsync("HomePageFooterSectionViewComponent")
    <!-- Footer Section End -->
    <!-- Search Begin -->
    @await Component.InvokeAsync("HomePageSearchBeginViewComponent")
    <!-- Search End -->
    <!-- Js Plugins -->
    @await Component.InvokeAsync("HomePageScriptViewComponent")
</body>

</html>