@model List<ResultCategoryModel>

@{
    int i = 0;
}
<section class="banner spad">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                string classText = "";
                i = i + 1;
                if (i == 1)
                {
                    classText = "col-lg-7 offset-lg-4";
                }
                else if (i == 2)
                {
                    classText = "col-lg-5";
                }
                else
                {
                    classText = "col-lg-7";
                }
               
                <div class="@classText">
                    <div class="banner__item">
                        
                        <div class="banner__item__pic">
                            <img src="@item.ImageUrl" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>@item.Name</h2>
                            <a href="#">Satın al @i</a>
                        </div>
                    </div>
                </div>
            }
           
            
        </div>
    </div>
</section>